
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #f2f2f2;
}

@media (min-width: 768px) {
    body {
        background-image: url("../img/background.jpeg");
        background-position: center 0;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .container-limit {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-limit {
        max-width: 940px;
    }
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        z-index: 100;
        width: 100%;
    }
}

.header {
    background: white;
}

.motto {
    text-align: center;
    text-transform: uppercase;
}

.logo {
    background: url(../img/logo-hires.png) no-repeat;
}

@media (max-width: 767px) {
    .logo {
        background-size: cover;
        float: left;
        width: 50%;
        height: 20vw;
    }

    .social {
        float: right;
        width: 50%;
        height: 20vw;
    }

    .social img {
        margin: 4%;
        margin-top: 9%;
        width: 20%;
    }
}

@media (min-width: 768px) {
    .logo {
        background-size: 238px 88px;
        height: 88px;
        width: 207px;
        float: left;
    }

    .motto {
        margin-top: 1.2em;
        width: auto;
        margin-left: 207px;
        margin-right: 187px;
        font-size: 0.9em;
        height: 53px
    }

    .social img {
        margin-right: 5px;
        width: 48px;
        height: 48px;
    }

    .social {
        width: 187px;
        float: right;
        padding-top: 20px;
    }
}

@media (min-width: 992px) {
    .logo {
        width: 238px;
    }

    .motto {
        margin-left: 238px;
        margin-right: 238px;
    }

    .social img {
        margin-right: 20px;
    }

    .social {
        width: 238px;
    }
}

.calltoaction {
    font-weight: 500;
    font-size: 1.4em;
}

@media (min-width: 992px) {
    .container-limit {
        max-width: 940px;
    }
}

@media (min-width: 768px) {
    .statistics-phone {
        display: none;
    }
}

@media (max-width: 767px) {
    .statistics-pc {
        display: none;
    }
}

.statistics {
    background-color: #e4e4e4;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-weight: bold;
}

.statistics-pc {
    padding-top: 107px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .statistics {
        font-size: 0.8em;
    }
}

.statisticsbox {
    border-width: 1px;
    border-color: #3295DD;
    border-style: solid;
    vertical-align: middle;
    min-height: 3em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: normal;
}

.statisticsbox span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

@media (min-width: 992px) {
    .searchcolumn {
        padding-right: 0;
    }
}

.searchbox {
    background-color: white;
    padding-bottom: 1.5em;
}

@media (min-width: 768px) {
    .searchbox {
        margin-top: 1em;
        margin-bottom: 0.5em;
        box-shadow: 0 3px 2px 0 rgba(0,0,0,0.36);
    }
}

@media (max-width: 767px) {
    .searchbox {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.question {
    text-align: center;
    font-size: 1.2em;
    margin: 0.8em 0em;
    font-weight: 600;
    padding: 0;
}

.searchbox i {
    font-size: 2em;
    vertical-align: middle;
    color: #28a0e8;
}

.searchcriteria {
    margin-bottom: 0.5em;
}

.pricerange {
    text-align: center;
}

.fold {
    cursor: pointer;
}

.searchbox input, .searchbox p, .searchbox select {
    margin-left: 0.6em;
}

.searchbox div[ui-slider] {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input[type="text"] {
    border: 1px #ccc solid;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=checkbox] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox]:checked + label {
    background-image: url(../img/lite-x-blue-checked.png);
}

input[type=checkbox] + label {
    padding-left: 20px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-image: url(../img/lite-x-blue.png);
}

.ui-slider-range
{
    background: #3295DD;
}

.searchbutton {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em 0;
    border: 0;
    font-size: 1.2em;
    margin-top: 1em;
}

.searchbutton:hover {
    background-color: #37A2EF;
    color: white;
    text-decoration: none;
    border: 0;
}

.foundmessage {
    margin-bottom: 1em;
}

.notfoundmessage {
    text-align: center;
    color: #aaa;
    margin: 2em 0;
}

.results {
    padding-top: 1em;
}

.resultnumber {
    color: white;
    background-color: #3295DD;
    border-radius: 1000px;
    display: block;
    position: absolute;
    padding: 0.2em 0.6em;
}

.trainerresult {
    background-color: white;
    margin-bottom: 1em;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.36);
    padding: 1em;
}

@media (max-width: 767px) {
    .trainerresult {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.resultphoto {
    text-align: center;
    margin-bottom: 0.5em;
}

.resultphoto img {
    width: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.resultphoto p {
    margin: 0;
}

.fa-star, .fa-star-half-o, .fa-star-o {
    color: #3295DD;
}

@media (max-width: 767px) {
    .resultdetails {
        border-top: solid 1px #d9d9d9;
        border-bottom: solid 1px #d9d9d9;
        padding: 0.5em 1em;
    }
}

.resultdetails h1 {
    color: #3295DD;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.resultdetails p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: normal;
}

.prices {
    text-align: center;
    margin-top: 1em;
}

@media (max-width: 767px) {
    .prices {
        margin-top: 0.5em;
    }
}

.price > div {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.15em 0;
}

.day {
    display: inline-block;
    width: 11%;
}

.dayoff {
    background-color: #e62e25;
}

.resultcontact {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

.available {
    background-color: #37810a;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 5%;
}

.resultcontact a, .resultcontact div {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-top: 5%;
}

.resultcontact a:hover {
    background-color: #37A2EF;
    color: white;
    text-decoration: none;
}

.resultcontact a:focus {
    text-decoration: none;
}

div.resultcontactdisabled {
    background-color: #D9D9D9;
}

.resultcontact .fa {
    color: #3295DD;
    font-size: 2em;
    margin: 15px 5px 0 5px;
}

.resultcontact .fa.disabled {
    color: #D9D9D9;
}

.megacontainer {
    min-height: 100%;
    position: relative;
    padding-bottom: 85px;
}

.footer {
    background-color: #d5e3fe;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer a {
    padding: 10px;
}

.footer a:hover {
    text-decoration: none;
}

.footer a:focus {
    text-decoration: none;
}

/* Modals */

.phone {
    text-align: center;
}

.stars {
    text-align: right;
}

.stars p {
    font-size: 1.3em;
}

.starstext strong {
    font-size: 1.1em;
}

.modal-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ratingheader {
    margin-bottom: 10px;
}

.ratingphoto {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.ratingphoto img {
    min-width: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    max-width: 100%;
}

.radiobuttonsgroup {
    text-align: center;
}

.smallbuttons button {
    padding-left: 0;
    padding-right: 0;
    width: 40px;
    max-width: 9%;
}

.modal-body iframe {
    height: 600px;
    width: 100%;
}
