
html,body {
    min-height: 100%;
    background-color: #f2f2f2;
}

@media (min-width: 768px) {
    .container-limit {
        max-width: 720px;
    }
}

.header {
    background: white;
}

.logo {
    background: url(../img/logomobile.png) no-repeat;
    background-size: cover;
    padding-bottom: 14.8%
}

@media (min-width: 768px) {
    .logo {
        background: url(../img/logo.png) no-repeat;
        background-size: cover;
        padding-bottom: 13%
    }
}

.motto {
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
}

.calltoaction {
    font-weight: 500;
    font-size: 1.4em;
}

@media (min-width: 768px) {
    .motto {
        margin-top: 2em;
    }
}

@media (min-width: 768px) {
    .statistics-phone {
        display: none;
    }
}

@media (max-width: 767px) {
    .statistics-pc {
        display: none;
    }
}

.statistics {
    background-color: #e4e4e4;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.statisticsbox {
    border-width: 1px;
    border-color: #3295DD;
    border-style: solid;
    vertical-align: middle;
    min-height: 3em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 1em;
}

.statisticsbox span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.searchbox {
    background-color: white;
    padding-bottom: 1.5em;
}

@media (min-width: 768px) {
    .searchbox {
        margin-top: 1em;
        margin-bottom: 0.5em;
        box-shadow: 0 3px 2px 0 rgba(0,0,0,0.36);
    }
}

@media (max-width: 767px) {
    .searchbox {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.question {
    text-align: center;
    font-size: 1.2em;
    margin: 0.8em 0em;
    font-weight: 600;
}

.searchcriteria {
    margin-bottom: 0.5em;
}

.searchcriteria > i {
    color: #28a0e8;
}

input[type="text"] {
    border: 1px #ccc solid;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=checkbox] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox]:checked + label {
    background-position: 0 -15px;
}

input[type=checkbox] + label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-image: url(../img/lite-x-blue.png);
}

.searchbutton {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em 0;
    border: 0;
}

.searchbutton:hover {
    background-color: #37A2EF;
    color: white;
    text-decoration: none;
    border: 0;
}

.foundmessage {
    margin-bottom: 1em;
}

.notfoundmessage {
    text-align: center;
    color: #aaa;
    margin: 2em 0;
}

.results {
    padding-top: 1em;
}

.trainerresult {
    background-color: white;
    margin-bottom: 1em;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.36);
    padding: 1em;
}

@media (max-width: 767px) {
    .trainerresult {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.resultphoto {
    text-align: center;
}

.resultphoto img {
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.resultphoto p {
    margin-bottom: 0px;
}

.fa-star {
    color: #3295DD;
}

.resultdetails {
    padding: 1em;
}

.resultdetails h1 {
    color: #3295DD;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.resultdetails p {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: normal;
}

.price {
    text-align: center;
}

.price > div {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.15em 0;
}

.resultcontact {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.resultcontact * {
    margin-top: 15%;
}

.resultcontact a {
    background-color: #3295DD;
    color: white;
    display: block;
    width: 100%;
    padding: 0.3em 0;
}

.resultcontact a:hover {
    background-color: #37A2EF;
    color: white;
    text-decoration: none;
}
