<!DOCTYPE html>
<html ng-app="fitners">
<head>
	<link rel="icon" type="image/png" href="favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">

    <link rel="stylesheet" href="css/style.css">

    <!-- <script src='lib/firebase-debug.js'></script> -->
    <script src='lib/firebase.js'></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="lib/slider.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67854624-2', 'auto');
        ga('send', 'pageview');
    </script>

    <script src='js/gyms.js'></script>
    <script src='js/script.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body ng-controller="SearchController as searchCtrl">
    <div class="megacontainer">
        <div class="header">
                <div class="row">
                    <div class="logo"></div>
                    <div class="social">
                        <a href="https://www.facebook.com/FitnersOfficial"><img src="img/fb96.png"></a>
                        <a href="https://twitter.com/Fitners_com"><img src="img/twitter96.png"></a>
                        <a href=""><img src="img/youtube96.png"></a>
                    </div>
                    <div class="motto">
                        <p>Seleccionamos a los mejores entrenadores personales de tu ciudad</p>
                        <p class="calltoaction">Filtra, compara y elige la mejor opción!</p>
                    </div>
                </div>
        </div>

        <div class="statistics statistics-phone">
            <div class="container container-limit">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Gente que QUIERE cambiar su cuerpo
                        <div class="statisticsbox"><span>3200 visitas éste mes</span></div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Personas que lo HACEN
                        <div class="statisticsbox"><span>64 entrenadores contactados</span></div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Los VALIENTES siempre son minoría
                        <div class="statisticsbox"><span><strong>¿Y Tú?</strong> Eres uno de los que se atreven a dar el paso y cambiar?!</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statistics statistics-pc">
            <div class="container container-limit">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Gente que QUIERE cambiar su cuerpo
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Personas que lo HACEN
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        Los VALIENTES siempre son minoría
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        <div class="statisticsbox"><span>3200 visitas éste mes</span></div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        <div class="statisticsbox"><span>64 entrenadores contactados</span></div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                        <div class="statisticsbox"><span><strong>¿Y Tú?</strong> Eres uno de los que se atreven a dar el paso y cambiar?!</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid container-limit">
            <div class="row">
                <div class="col-md-3 searchcolumn">
                    <div class="container-fluid container-limit searchbox">
                        <div class="row">
                            <div class="col-xs-12 question">
                                ¿Qué estás buscando?
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.searchcriteria = 'area'" ng-show="searchCtrl.searchcriteria == 'gym'">
                                <i class="fa fa-minus-square"></i>
                                Búsqueda por gimnasio
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.searchcriteria = 'gym'" ng-show="searchCtrl.searchcriteria == 'area'">
                                <i class="fa fa-plus-square"></i>
                                Búsqueda por gimnasio
                            </div>
                        </div>
                        <div class="row" ng-show="searchCtrl.searchcriteria == 'gym'">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria">
                                <!-- <input type="text" ng-model="searchCtrl.gym"> -->
                                <input type="text" ng-model="searchCtrl.gym" typeahead="gym.name for gym in searchCtrl.gyms | filter:$viewValue | limitTo:8" placeholder="Escribe tu gimnasio" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.searchcriteria = 'gym'" ng-show="searchCtrl.searchcriteria == 'area'">
                                <i class="fa fa-minus-square"></i>
                                Búsqueda por zona
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.searchcriteria = 'area'" ng-show="searchCtrl.searchcriteria == 'gym'">
                                <i class="fa fa-plus-square"></i>
                                Búsqueda por zona
                            </div>
                        </div>
                        <div class="row" ng-show="searchCtrl.searchcriteria == 'area'">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria">
                                <select class="form-control" name="areaSelect" ng-options="area as area for area in searchCtrl.areas" ng-model="searchCtrl.area">
                                    <option value="">Escoje una zona</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showGoal = true" ng-show="searchCtrl.showGoal == false">
                                <i class="fa fa-plus-square"></i>
                                Especialidad
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showGoal = false" ng-show="searchCtrl.showGoal == true">
                                <i class="fa fa-minus-square"></i>
                                Especialidad
                            </div>
                        </div>
                        <div class="row" ng-show="searchCtrl.showGoal">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria">
                                <p>
                                    <input type="checkbox" id="checkboxVolume" ng-model="searchCtrl.goalVolume">
                                    <label for="checkboxVolume">Volumen</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxDefinition" ng-model="searchCtrl.goalDefinition">
                                    <label for="checkboxDefinition">Definición</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxWeight" ng-model="searchCtrl.goalWeight">
                                    <label for="checkboxWeight">Perder peso</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxCond" ng-model="searchCtrl.goalCond">
                                    <label for="checkboxCond">Forma física</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxDiet" ng-model="searchCtrl.goalDiet">
                                    <label for="checkboxDiet">Nutrición</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showPrice = true" ng-show="searchCtrl.showPrice == false">
                                <i class="fa fa-plus-square"></i>
                                Precio
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showPrice = false" ng-show="searchCtrl.showPrice == true">
                                <i class="fa fa-minus-square"></i>
                                Precio
                            </div>
                        </div>
                        <div class="row" ng-show="searchCtrl.showPrice">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria">
                                <div class='pricerange'>{{searchCtrl.pricerange | pricerange}}</div>
                                <div ui-slider="{range: true}" min="20" max="60" step="5"           ng-model="searchCtrl.pricerange"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showQualifications = true" ng-show="searchCtrl.showQualifications == false">
                                <i class="fa fa-plus-square"></i>
                                Titulación
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria fold" ng-click="searchCtrl.showQualifications = false" ng-show="searchCtrl.showQualifications == true">
                                <i class="fa fa-minus-square"></i>
                                Titulación
                            </div>
                        </div>
                        <div class="row" ng-show="searchCtrl.showQualifications">
                            <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0 searchcriteria">
                                <p>
                                    <input type="checkbox" id="checkboxQualA" ng-model="searchCtrl.qualA">
                                    <label for="checkboxQualA">Qualification A</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxQualB" ng-model="searchCtrl.qualB">
                                    <label for="checkboxQualB">Qualification B</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxQualC" ng-model="searchCtrl.qualC">
                                    <label for="checkboxQualC">Qualification C</label>
                                </p>
                                <p>
                                    <input type="checkbox" id="checkboxQualD" ng-model="searchCtrl.qualD">
                                    <label for="checkboxQualD">Qualification D</label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-2">
                                <button ng-click="searchCtrl.search()" class="searchbutton">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="results">
                        <div class="container-fluid container-limit">
                            <div class="row">
                                <div class="col-xs-12 notfoundmessage" ng-show="!searchCtrl.searching && !searchCtrl.results.length">Ningún resultado. Cambia tu búsqueda y vuelve a probar.</div>
                            </div>
                        </div>
                        <div class="container-fluid container-limit foundmessage">
                            <div class="row">
                                <div class="col-xs-12" ng-show="searchCtrl.searching">Buscando...</div>
                                <div class="col-xs-12" ng-show="searchCtrl.results.length">{{searchCtrl.results.length}} entrenadores personales encontrados</div>
                            </div>
                        </div>
                        <div class="container-fluid container-limit trainerresult" ng-repeat="coach in searchCtrl.results">
                            <div class="resultnumber">{{$index + 1}}</div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-3 resultphoto">
                                    <img src="img/pablo.jpeg" class="img-circle" alt="Foto de {{coach.name}} {{coach.surname}}"><br/>
                                    <p>{{coach.name}} {{coach.surname}}</p>
                                    <p>
                                        <i class="fa fa-star" ng-repeat="a in numFullStars(coach.score.total) track by $index"></i><i
                                        class="fa fa-star-half-o" ng-if="isHalfStar(coach.score.total)"></i><i                                  class="fa fa-star-o" ng-repeat="a in numEmptyStars(coach.score.total) track by $index"></i>
                                    </p>
                                    <a href="#" ng-click="searchCtrl.showComments(coach)" data-toggle="modal" data-target="#comments">{{coach.ratings ? keys(coach.ratings).length : 0}} valoraciones</a>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-sm-push-6 resultcontact">
                                    <span class="available">Disponible!</span>
                                    <p>Contacta:</p>
                                    <a class="hidden-xs" href="mailto:{{coach.email}}" ng-class="{'resultcontactdisabled': !coach.contactoptions.email}" ng-mouseover="showemail = true" ng-mouseleave="showemail = false" ng-click="searchController.emailCoach(coach)">
                                        <span ng-hide="showemail">Ver Email</span>
                                        <span ng-show="showemail">{{coach.email}}</span>
                                    </a>
                                    <a class="visible-xs-block" href="mailto:{{coach.email}}" ng-class="{'resultcontactdisabled': !coach.contactoptions.email}" ng-click="searchController.emailCoach(coach)">
                                        <span>Enviar email</span>
                                    </a>
                                    <a class="hidden-xs" href="tel:{{coach.telephone}}" ng-class="{'resultcontactdisabled': !coach.contactoptions.phonecall}" ng-mouseover="showphone = true" ng-mouseleave="showphone = false" ng-click="searchController.callCoach(coach)">
                                        <span ng-hide="showphone">Ver Teléfono</span>
                                        <span ng-show="showphone">{{coach.telephone}}</span>
                                    </a>
                                    <a class="visible-xs-block" href="#" ng-click="searchCtrl.showPhone(coach)" ng-class="{'resultcontactdisabled': !coach.contactoptions.phonecall}">
                                        <span>Ver Teléfono</span>
                                    </a>

                                    <i class="fa fa-envelope-o" ng-class="{'disabled': !coach.contactoptions.email}"></i>
                                    <i class="fa fa-phone" ng-class="{'disabled': !coach.contactoptions.phonecall}"></i>
                                    <i class="fa fa-whatsapp" ng-class="{'disabled': !coach.contactoptions.whatsapp}"></i>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-sm-pull-3">
                                    <div class="resultdetails row">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <h1>Titulación</h1>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <p>{{coach.qualifications}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <h1>Especialidades</h1>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <p>{{coach.goals | goals}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <h1>Zonas de Trabajo</h1>
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <p>{{coach.area}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row prices">
                                        <!-- <div class="col-xs-6 col-sm-12">
                                            <h1>Coste</h1>
                                        </div> -->
                                        <div class="col-xs-6 price">
                                            Disponibilidad
                                            <div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[0]}">L</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[1]}">M</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[2]}">M</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[3]}">J</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[4]}">V</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[5]}">S</div>
                                                <div class="day" ng-class="{'dayoff': !coach.availability[6]}">D</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 price">
                                            1 sesión
                                            <div>{{coach.wage}}€/1h</div>
                                        </div>
                                        <div class="col-xs-6 price">
                                            Pack 10 sesiones
                                            <div>{{coach.packprice}}€/10horas</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <!-- <a class="pull-left">Fitners Blog</a> -->
            <a href="mailto:info@fitners.com" target="_blank" class="pull-left">Contacto</a>
            <a href="" data-toggle="modal" data-target="#cookiesModal" class="pull-right">Política de cookies</a>
            <a href="" data-toggle="modal" data-target="#privacyModal" class="pull-right">Privacidad</a>
            <a href="" data-toggle="modal" data-target="#termsModal" class="pull-right">Condiciones de uso</a>
            <div class="clearfix"></div>
        </div>
    </div> <!-- megacontainer -->

    <div class="modal fade" id="termsModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Condiciones de uso</h4>
                </div>
                <div class="modal-body">
                    <iframe src="terms.html"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="privacyModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Política de privacidad</h4>
                </div>
                <div class="modal-body">
                    <iframe src="privacy.html"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="cookiesModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Política de cookies</h4>
                </div>
                <div class="modal-body">
                    <iframe src="cookies.html"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
